* {
  margin-top: 0;
}

.power-stats {
  margin-left: 1em;
}

.heroes-stats {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
  flex-direction: row-reverse;
}
.heroes-stats li {
  left: 0;
  background-color: rgb(200, 201, 245);
  margin: 0.5em;
  padding: 0.3em 0;
  padding-left: 0.3em;
  height: 1.6em;
  border-radius: 4px;
}

.heroes-stats li:hover {
  color: white;
  background-color: #612c92;
  left: 0.1em;
}

.heroes-stats .badge {
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #3a1a58;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  width: 1em;
  border-radius: 0px 4px 4px 0px;
  float: right;
}
